*{
    margin: 0;
    padding: 0;
    background: var(--color-lightgray);
}
:root{
    --main-radius:5px;
    --main-padding:5px;
    --mobile-padding:15px;
    --mobile-display:none;
    --color-cyan:hsl(179, 62%, 43%);
    --color-cyanlight:hsl(179, 53%, 55%);
    --color-brightyellow:hsl(71, 73%, 54%);
    --color-lightgray:hsl(204, 43%, 93%);
    --color-grayblue:hsl(218, 22%, 67%);

}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 0.75fr 0.75fr 1fr;
    grid-template-rows: 1fr 1.4fr 1.6fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebarLeft content1 content1 sidebarRight"
    "sidebarLeft content2 content3 sidebarRight"
    "footer footer footer footer";
    grid-gap: 0.08rem;
    font-family: 'karla', 'Epilogue';
    font-weight: 800;
    font-size: 12px;
    color: #004D40;
    text-align: center;
}
nav{
    background: var(--color-lightgray);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#sidebarLeft{
    background: var(--color-lightgray);
    grid-area: sidebarLeft;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content1{
    background: #FFFFFF;
    grid-area: content1;
    border-radius: 15px 15px 0 0;
    padding: 40px;
    text-align: left;
    letter-spacing: 1px;
}
#content2{
    background: var(--color-cyan);
    grid-area: content2;
    border-radius: 0 0 0 15px ;
    padding: 40px;
    text-align: left;
}
#content3{
    background: var( --color-cyanlight);
    grid-area: content3;
    border-radius: 0 0 15px 0 ;
    padding: 40px;
    text-align: left;
}
#sidebarRight{
    background: var(--color-lightgray);
    grid-area: sidebarRight;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
footer{
    background: var(--color-lightgray);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
h1{
    letter-spacing: 1px;
    background: transparent;
    line-height: 2.4;
}
h2{
    color:white;
    letter-spacing: 1px;
    background: transparent;
    line-height: 1.6;
    font-weight: 400;
}
p{
    color:var(--color-lightgray);
    letter-spacing: 1px;
    background: transparent;
    line-height: 1.6;
    /* font-size: 12px; */
}
.join{
    color:var(--color-cyan);
    background: transparent;
}
.thirty{
    color:var(--color-brightyellow);
    background: transparent;
}
.gain{
    padding: var(--main-padding);
    font-size: 13px;
    font-weight: 700;
    line-height: 1.6;
    color: rgb(214, 211, 211);
}
.price{
    background: transparent;
    white-space: no-wrap;
}
.amount{
    color:var(--color-lightgray);
    background: transparent;
}
.per{
    color:var(--color-lightgray);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6; 
}
.full{
    color:var(--color-lightgray);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2; 
    letter-spacing: 1px;
}
.list{
    color:var(--color-lightgray);
    background: var( --color-cyanlight);
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
}
button{
    border: none;
    border-radius: var(--main-radius);
    background: var(--color-brightyellow);
    padding: 14px 6px;
    font-size: 16px;
    color: var(--color-lightgray);
    margin: 30px 0 0 0;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;    
}
@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1.8fr 1.5fr 1.5fr;
        grid-template-areas: 
        "content1"
        "content2"
        "content3";
        padding-top: var(--main-padding);
        margin: 10px;
    } 
    #content1{
        border-radius: 5px 5px 0 0;
        padding: var(--mobile-padding);
    }
    #content2{
        border-radius: 0;
        margin: 0.5px 0 0.5px 0;
        padding: var(--mobile-padding); 
    }
    #content3{
        border-radius: 0 0 5px 5px;
        padding: var(--mobile-padding);
    }
    nav, footer,  #sidebarLeft, #sidebarRight{
        display: var(--mobile-display);
       }
}
