*{
    margin: 0;
    padding: 0;
    background: var(--color-lightgray);
}
:root{
    --main-radius:0.313rem;
    --main-padding:0.313rem;
    --mobile-padding:1.563rem;
    --mobile-display:none;
    --color-cyan:hsl(179, 62%, 43%);
    --color-cyanlight:hsl(179, 53%, 55%);
    --color-brightyellow:hsl(71, 73%, 54%);
    --color-lightgray:hsl(204, 43%, 93%);
    --color-grayblue:hsl(218, 22%, 67%);
}
h1{
    background: transparent;
    line-height: 2.2;
    font-weight: 700;
}
h2{
    color:white;
    background: transparent;
    line-height: 1.6;
    font-weight: 700;
}
h3{
    color:white;
    background: transparent;
    font-weight: 700;
}
h4{
    color:white;
    background: transparent;
    font-weight: 700;
    line-height: 1.8;
}
p{
    color:var(--color-lightgray);
    letter-spacing: 0.063px;
    background: transparent;
    line-height: 1.8;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 0.85fr 0.85fr 1fr;
    grid-template-rows: 1fr 1.0fr 1.4fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebarLeft content1 content1 sidebarRight"
    "sidebarLeft content2 content3 sidebarRight"
    "footer footer footer footer";
    font-family: 'karla', 'Epilogue';
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
}
nav{
    background: var(--color-lightgray);
    grid-area: nav;
}
#sidebarLeft{
    background: var(--color-lightgray);
    grid-area: sidebarLeft;
}
#content1{
    background: #FFFFFF;
    grid-area: content1;
    border-radius: 0.469rem 0.469rem 0 0;
    padding: 1.875rem 2.5rem 2.5rem 2.5rem;
    text-align: left;
    letter-spacing: 1px;
    box-shadow: 0 0 2.625rem 0.438rem rgba(173,194,212,0.5);
    -webkit-box-shadow: 0 0 2.625rem 0.438rem rgba(173,194,212,0.5);
    -moz-box-shadow: 0 0 2.625rem 0.438rem rgba(173,194,212,0.5);
    z-index: 2;
}
.content1-main{
    background: transparent;
}
#content2{
    background: var(--color-cyan);
    grid-area: content2;
    border-radius: 0 0 0 0.469rem ;
    padding: 1.875rem 2.5rem 0 2.5rem;
    text-align: left;
    box-shadow: -0.938rem 0.438rem 2.625rem 0.438rem rgba(173,194,212,0.5);
    -webkit-box-shadow: -0.938rem 0.438rem 2.625rem 0.438rem rgba(173,194,212,0.5);
    -moz-box-shadow: -0.938rem 0.438rem 2.625rem 0.438rem rgba(173,194,212,0.5);
    z-index: 2;
}
.content2-main{
    background: transparent;
}
#content3{
    background: var( --color-cyanlight);
    grid-area: content3;
    border-radius: 0 0 0.469rem 0 ;
    padding: 1.875rem;
    text-align: left;
    box-shadow: 0.438rem 0.438rem 2.625rem 0.438rem rgba(173,194,212,0.5);
    -webkit-box-shadow: 0.438rem 0.438rem 2.625rem 0.438rem rgba(173,194,212,0.5);
    -moz-box-shadow: 0.438rem 0.438rem 2.625rem 0.438rem rgba(173,194,212,0.5);
    z-index: 2;
}
.content3-main{
    background: transparent;
    padding: 0.938rem 0 0 0.313rem;
}
#sidebarRight{
    background: var(--color-lightgray);
    grid-area: sidebarRight;
    z-index: 1;
}
footer{
    background: var(--color-lightgray);
    grid-area: footer;
    z-index: 1;
}
.join{
    color:var(--color-cyan);
    background: transparent;
    font-weight: 400;
}
.thirty{
    color:var(--color-brightyellow);
    background: transparent;
    font-weight: 400;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
}
.gain{
    color: rgba(119, 128, 134, 0.545); /* Suggested gray appears too faint to read on my screen so I tweeked it.*/
}
.price{
    background: transparent;
    display: flex;
    flex-direction: row;
}
.amount{
    color:var(--color-lightgray);
    background: transparent;
    display: inline;
}
.per{
    color: rgba(243, 248, 250, 0.545); /* Suggested cyan appears too faint to read on my screen so I tweeked it.*/
    display: inline;
    padding-left: 0.938rem;
    margin-top: 1.125rem;
    font-size: 0.938rem;
    font-weight: 400;
}
.full{
    color:var(--color-lightgray);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2; 
    letter-spacing: 0.031rem;
    padding-bottom: 0.313rem;
}
.why{
   padding-left: 5px;
}
.list{
    color:var(--color-lightgray);
    background: var( --color-cyanlight);
    font-size: 0.813rem;
    font-weight: 100;
    line-height: 1.6;
}
button{
    border: none;
    border-radius: var(--main-radius);
    background: var(--color-brightyellow);
    padding: 0.875rem 0.375rem;
    font-size: 1rem;
    color: var(--color-lightgray);
    margin: 1.25rem 0 0 0;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0.438rem 0.25rem 0 rgba(14, 30, 37, 0.12);
    -webkit-box-shadow: 0 0.438rem 0.25rem 0 rgba(14, 30, 37, 0.12);
    -moz-box-shadow: 0 0.438rem 0.25rem 0 rgba(14, 30, 37, 0.12);
}
@media only screen and (max-width:375px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1.3fr 1.3fr;
        grid-template-areas: 
        "content1"
        "content2"
        "content3";
        padding-top: var(--main-padding);
        margin: 0.625rem;
    } 
    #content1{
        border-radius: 0.313rem 0.313rem 0 0;
        padding: var(--mobile-padding);
    }
    .content1-main{
        display: flex;
        flex-direction: column;
        background: transparent;
        padding: 0.625rem 0 0 0;
    }
    .thirty{
        padding: 0.313rem 0 0.313rem 0;
    }
    .gain{
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.038rem;
        line-height: 2;
        color: rgba(88, 84, 84, 0.545); /* Suggested gray appears too faint to read on my screen so I tweeked it.*/
    }
    #content2{
        border-radius: 0;
        padding: var(--mobile-padding); 
    }
    .content2-main{
        display: flex;
        flex-direction: column;
        background: transparent;
        padding: 0.625rem 0 0 0;
    }
    .monthly{
        font-size: 18px;
        font-weight: 700;
    }
    .per{
        font-size: 1.125rem;
        font-weight: 100;
        line-height: 1.6; 
        padding-left: 0.625rem;
    }
    .full{
        font-size: 1.125rem;
    }
    #content3{
        border-radius: 0 0 0.313rem 0.313rem;
        padding: var(--mobile-padding);
    }
    .why{
        font-size: 1.125rem;
        font-weight: 700;
        padding-left: 0;
    }
    .content3-main{
        display: flex;
        flex-direction: column;
        background: transparent;
        padding: 1.25rem 0 0 0;
    }
    .list{
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.8;
    }
    nav, footer,  #sidebarLeft, #sidebarRight{
        display: var(--mobile-display);
       }
    button{
        border: none;
        border-radius: var(--main-radius);
        background: var(--color-brightyellow);
        padding: 0.875rem 0.375rem;
        font-size: 1rem;
        font-weight: 700;
        color: var(--color-lightgray);
        margin: 2.188rem 0 0 0;
        width: 100%;
        box-shadow: 0 0.438rem 0.25rem 0 rgba(14, 30, 37, 0.12);
        -webkit-box-shadow: 0 0.438rem 0.25rem 0 rgba(14, 30, 37, 0.12);
        -moz-box-shadow: 0 0.438rem 0.25rem 0 rgba(14, 30, 37, 0.12);  
    }
}
